=checkout-row()
  display: grid
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr
  text-align: center
  div
    padding: 0.2em

.checkout-page
  margin: 0 auto
  width: 80%

  .checkout-page__header
    +checkout-row
    border-bottom: 0.1em solid grey
    font-size: 0.6em
    font-weight: normal
    margin: 2em 0 1em 0
    text-transform: uppercase

  .checkout-page__product
    +checkout-row

    img
      width: 100%

    .remove
      span
        font-size: 0.8em
        cursor: pointer

  .cart-total
    text-align: right

    span
      font-size: 1.6em
      font-weight: normal
