@import '../utils/mixins.sass'

.checkout-page
  margin: 0 auto
  width: 80%

  .checkout-page__header
    +checkout-row
    border-bottom: 0.1em solid #808080
    font-size: 0.6em
    font-weight: normal
    margin: 2em 0 1em 0
    text-transform: uppercase

  .checkout-page__cart-total
    text-align: right

    span
      font-size: 1.6em
      font-weight: normal

  .checkout-page__checkout-button
    text-align: right
    margin: 2em 0

  .checkout-page__test-warning
    color: #ed1f24
    text-align: center
