.collection-component
  .collection-component__products
    display: flex
    flex-wrap: wrap
    justify-content: center

    .collection-component__product
      margin: 0.6em
      position: relative

      &:hover
        button
          display: block

      img
        border: 1px solid lightgrey
        height: 300px
        object-fit: cover
        width: 300px

      .collection-component__meta-data
        color: grey
        display: flex
        justify-content: space-between

      button
        background-color: rgba(255,255,255, 0.8)
        border: 1px solid grey
        bottom: 2em
        color: grey
        left: 50%
        margin: 0
        position: absolute
        transform: translate(-50%, 0)
        width: 94%
