.header-component
  .header-component__main
    align-items: center
    border-bottom: 0.2em double grey
    display: flex
    justify-content: space-between
    text-transform: lowercase

    .header-component__logo
      width: 55px

    .header-component__links
      display: flex
      justify-content: space-between
      text-align: right

      .header-component__cart
        position: relative

        .header-component__cart-icon
          cursor: pointer
          margin-right: 1em
          position: relative

          svg
            width: 40px

          .header-component__cart-quantity
            font-weight: normal
            left: 2px
            position: absolute
            text-align: center
            top: 8px
            width: 100%

      .header-component__auth
        align-items: center
        display: flex
        font-size: 0.9em

        a
          margin-left: 1em

          h2
            display: inline-block
            margin: 0

        span
          text-transform: uppercase

  .header-component__error-message
    background: red
    color: white
    padding: 0.2em
    text-align:  center
