.component-header
    border-bottom: 0.1em solid grey
    grid-template-columns: 1fr 3fr
    align-items: center
    display: grid
    .component-header__links
      text-align: right
      a
        margin-left: 1em
        h2
          display: inline-block
          align-items: center
          margin: 0
