body
  font-family: sans-serif
  padding: 1em
  color: black

  hr
    padding: 0.05em
    border-width: 0 0 0.2em 0
    border-style: double
    border-color: grey

  a,
  .anchor
    text-decoration: none
    color: brown
    &:hover
      cursor: pointer
      color: grey

  form
    input
      border: 0.1em solid black
      padding: 0.5em 1em
      display: block
      margin: 1em
    button
      background-color: black
      padding: 0.5em 1em
      margin: 0.5em
      border: none
      color: white
      &:hover
        cursor: pointer
