body
  color: #000
  font-family: sans-serif
  padding: 1em
  font-weight: lighter

  hr
    border-color: #808080
    border-style: double
    border-width: 0 0 0.2em 0
    padding: 0.05em

  a,
  .anchor
    color: #a52a2a
    text-decoration: none

    &:hover
      color: #808080
      cursor: pointer

    &.active
      text-transform: uppercase

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-weight: normal

  ul
    list-style: none
    margin: 0
    padding: 0

  input
    border: 0.1em solid #000
    display: block
    margin: 1em
    padding: 0.5em 1em

  button
    background-color: #000
    border: none
    color: #fff
    cursor: pointer
    margin: 0.5em
    padding: 0.5em 1em

  .hidden
    display: none
